* {
    box-sizing: border-box;
}
body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin: 100px 10px;
}
h2 {
    text-align: center;
    padding: 10px;
}
hr {
    width: 80%;
}
.ans {
    width: 75%;
    height: 40px;
    border-radius: 10px;
    background-color: aliceblue;
    border-width: 1px;
    margin: 10px;
}
.next {
    height: 40px;
    margin: 30px;
    width: 20%;
    font-size: 1.2rem;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
@media (min-width: 600px) {
    .ans:hover {
        color:white;
        background-color: blueviolet;
        cursor: pointer;
    }
}
.rightAns {
    background-color: rgba(50, 255, 47, 0.667);
}
.wrongAns {
    background-color: rgb(239, 40, 53);
}
.play-btn {
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}